---
import Seo from '../components/Seo.astro'
import MainLayout from '../layouts/MainLayout.astro'
---

<Seo title="HTML4SEO" />
<MainLayout>
	<h1 class="text-3xl font-bold">HTML4SEO</h1>
</MainLayout>
